<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Moheb's Blogs | <%= title %></title>
<link rel="stylesheet" href="/style.css" />
<meta name="description" content="Mohebs Blog Site" />
<link rel="canonical" href="<%= cannonicalUrl %>" />
<!-- Clarity tracking code for https://mohebs-blog.herokuapp.com/ -->
<script>
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "amew4ef0c9");
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Person",
        "@id": "https://mohebs-blog.herokuapp.com/",
        "image": {
          "@type": "ImageObject",
          "url": "https://instagram.fbom12-1.fna.fbcdn.net/v/t51.2885-19/s150x150/271224685_390707386187870_8067577482148087752_n.jpg?_nc_ht=instagram.fbom12-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=8RZ6xHAkJb0AX94-V1A&edm=ALbqBD0BAAAA&ccb=7-4&oh=00_AT_a3Py88YKdnUmbkEfovZk_UD3OyPGaHRmI2Sko8fSDtQ&oe=62120AF7&_nc_sid=9a90d6",
          "width": 150,
          "height": 150,
          "caption": "Moheb Dabilkar"
        },
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Navi Mumbai, Maharashtra",
          "addressRegion": "India",
          "postalCode": "400706"
        },
        "email": "mailto:developer.moheb@gmail.com",
        "jobTitle": "Software Engineer",
        "name": "Moheb Dabilkar",
        "telephone": "(425) 123-4567",
        "url": "https://mohebs-blogspot.herokuapp.com",
        "sameAs": [
          "https://www.instagram.com/moheb.stuff/",
          "https://www.youtube.com/channel/UCf6mDU0dD_9zYJLAE_CMaTQ",
          "https://github.com/RosePinkDragon"
        ]
      },
      {
        "@type": "WebSite",
        "@id": "https://mohebs-blogspot.herokuapp.com/",
        "url": "https://mohebs-blogspot.herokuapp.com/",
        "name": "Moheb's Blogspot",
        "description": "Moheb Dabilkar's Blogsite",
        "inLanguage": "en-US",
        "publisher": { "@id": "https://mohebs-blogspot.herokuapp.com/" }
      }
    ]
  }
</script>
