<html lang="en">
  <head>
    <%-include('./partials/header.ejs') %>
  </head>

  <body>
    <%-include('./partials/nav.ejs') %>
    <h2 style="text-align: center">
      Hey you seem to be lost this is the 404 bot
    </h2>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
