<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/header.ejs') %>
  </head>

  <body>
    <%-include('./partials/nav.ejs') %>
    <img
      class="lost-404"
      src="/images/404.svg"
      alt=""
      src="/images/trash.svg"
      alt="Guess Has Deleted Itself?"
    />
    <h2 style="color: crimson; margin: auto; text-align: center; width: 30ch">
      Hey, you have found the secret page, the true treasure which doesn't
      exist.
    </h2>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
