<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/header.ejs') %>
  </head>
  <body>
    <%-include('./partials/nav.ejs') %>
    <h2 style="text-align: center">Moheb Dabilkar</h2>
    <h3 style="text-align: center">
      I am lazy that's why i am fit for the job
    </h3>
    <h3 style="text-align: center; margin-bottom: 50px">
      And i run cause i want to
    </h3>
    <div class="about-me">
      <p>
        Hi, I am a software developer with great experince in JavaScript and
        it's frameworks specially react based and servers with NextJS and the
        base NodeJS. Along with that I also have experince with python (Flask).
        I have a good idea about DB's and devops and a meh with PHP, SEO, low
        level languages and other stuff. I am always ready for the fast
        learning/working enviroment.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
